/* Hero Section Style */
.hero--section {
  position: relative;
  width: auto;
  height:1000px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../../public/img/herosectionWallpaper.jpg');
  background-size: cover; /* Ensure the background image covers the entire background area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

  .hero--section--content--box{
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50% , -50% );
    text-align: center;
  }
  .hero--section--content {
    color: #ffffff;
    font-size: var(--60);
    font-weight: 500;
    line-height: 90px;
  }
  
  .hero--section--name{
    color: var(--primary);
  }
  .hero--section--content--box > button {
    margin-top: 21.333px;
  }

  /* Animation effect for auto-writing and erasing */
  @keyframes autoWriteErase {
    0% {
      width: 0;
      border-right-color: transparent;
    }
    20% {
      width: 100%;
      border-right-color: transparent;
    }
   
    50% {
      width: 100%;
      border-right-color: transparent;
    }
    75% {
      width: 0;
      border-right-color: transparent;
    }
    95% {
      border-right-color: var(--cursor-color); /* Show cursor when text is fully erased */
    }
    100% {
      width: 0;
      border-right-color: transparent;
    }
  }
  
  /* Apply the animation to .hero--section--title--color */
  .hero--section--title--color {
    color: var(--primary);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent; /* Adjust border thickness as needed */
    animation: autoWriteErase 5s infinite; /* Adjust the duration as needed */
  }
  
  /* Blinking cursor animation */
  @keyframes cursorBlink {
    50% {
      border-color: transparent;
    }
  }
  
  /* Apply the cursor animation to .hero--section--title--color */
  .hero--section--title--color::after {
    content: ""; /* Cursor character */
    display: inline-block;
    border-left: 2px solid var(--cursor-color); /* Cursor color */
    margin-left: 4px; /* Adjust the spacing between text and cursor */
    animation: cursorBlink 1s infinite; /* Adjust the duration as needed */
  }

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.waving-hand {
  animation: wave 3.5s 1s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}