/* Hero Section Style */
.hero--section {
  position: relative;
  width: auto;
  height: 1000px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../../public/img/herosectionWallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero--section--content--box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero--section--content {
  color: var(--white);
  font-size: 60px;
  font-weight: 500;
  line-height: 90px;
}

  .hero--section--whoami {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
  }
@keyframes autoWriteEraseName {
  0% {
    width: 0;
    border-right-color: transparent;
  }
  20% {
    width: 0; /* Start erasing */
    border-right-color: transparent;
  }
  50% {
    width: 100%; /* Fully reveal the name */
    border-right-color: transparent;
  }
  75% {
    width: 100%; /* Hold the name for a while */
    border-right-color: transparent;
  }
  95% {
    width: 0; /* Start erasing */
    border-right-color: transparent;
  }
  100% {
    width: 0; /* Fully erase the name */
    border-right-color: transparent;
  }
}

.hero--section--name {
  max-width: 330px;
  display: inline-block;
  color: var(--primary);
  overflow: hidden;
  white-space: nowrap;
  animation: autoWriteEraseName 5s infinite; /* Adjust the duration as needed */
}

.hero--section--title {
  color: var(--white); /* Set color to white */
  width: 120px;
}

/* Animation for waving hand */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.waving-hand {
  animation: wave 3.5s 1s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}
