/* Skills Section Style */
.skills--section {
  /* background: #E8C872; */
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.skills--section--container {
  display: grid;
  justify-content: center;
  gap: 42.6px;
  grid-template-columns: repeat(4, 1fr);
}
.skills--section--layer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:50px;
}
.skills--section--card {
  display: flex;
  /* border-style: dotted; */
  width: 100%;
  min-height: 350px;
  position: relative;
}
.skills--section--card .frontside {
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 10.6px;
  /* background: var(--bg-shade); */
  background: #fff;
  /* position: relative; */
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  transform: perspective(1000px) rotateY(0deg);
  transition: 0.9s;
  backface-visibility: hidden;
  padding: 20px;
}
.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.skills--section--title {
  color: var(--heading-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
}
.skills--section--description {
  color: var(--black);
  font-size: var(--16);
  font-style: normal;
  line-height: 32px;
}

