/* Global CSS */
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "GoldmanBold";
  src: local("GoldmanBold"),
   url("./fonts/Kingsman.ttf") format("truetype");
 }
 .font-face{
  font-family: "GoldmanBold";
  font-size: 48px;
  padding-top: 5px;
  color: var(--heading-color);
 }
 :root {
  --primary: #006B6A;
  --btnhover: #000000;
  --headfoot:#E5E4E2;   /* Platinum */
  --alternatesection:#E5E4E2;
  /* --secondary:; */
  /* --heading-color: #282938; */
  --bg-shade: #f5fcff;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
  --48:48px;
  --16:16px;
  --60:60px;
}
body{
  margin:0;
  /* font-family: "Exo 2", sans-serif; */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: var(--16);
  /* text-align: justify; */
}

.btn{
  font-family: "Roboto";
  display: inline-block;
  padding: 12px 26px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-outline-primary{
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary);
}
.btn-outline-primary:hover{
  color: var(--white);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}
.banner-search-select button{
  font-size: var(--16);
  margin-top: 20px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  color: var(--white);
  height: 60px;
  width: 190px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--primary);
  box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor:pointer;
}
.banner-search-select button:after{
  top: 0;
  width: 0;
  left: -40%;
  content: "";
  z-index: -1;
  height: 100%;
  position: absolute;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  background-color: var(--btnhover);
}
.banner-search-select button:hover:after{
  height: 100%;
  width: 150%;
}
/* Global css ends */
/* Main Headings */

/* Heading 1 */
h1{
  font-size: var(--60);
  font-weight: 700px;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
/* Pragraphs text large medium small */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/* Section Titles */
/* Skills & About Me */
.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Navbar style start */
.navbar {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 85.333px;
  background: var(--white);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.nav--signaturevisible {
  display: flex;
  align-items: center;
}
.nav--signaturehidden{
  display: none;
}

.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
  padding-left: 0px;
}

.navbar--items ul > li > a {
  text-decoration: none;
  position: relative;
  color: var(--darkblue);
  transition: color 0.3s ease; 
}

.navbar--items ul > li > a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.3s ease; 
}

.navbar--items ul > li > a:hover {
  color: var(--primary); 
  font-weight: 500;
}

.navbar--items ul > li:hover {
  cursor: pointer; 
}

/* Navbar Content */
.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content {
  color: var(--primary);
}
/* Navbar Styler Ends */

/* About us */
.about--section {
  background:var(--alternatesection);
  margin-left:auto ;
  margin-right: auto;
  display: grid;
  padding: 112px 85px;
  align-items: center;
  grid-template-columns:minmax(100px, 1fr) minmax(100px, 1.5fr);
}
.about--section--img{
  height:550px;
  margin: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);


}
.about--section--img img {
  max-width: 100%;
  height: 100%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;
}

.about--section--img:hover img {
  transform: scale(1.1);
}
.about--section--content{
  display: grid;
  gap: 20px;
}
.about--section--content {
  text-align: justify;
  color: var(--heading-color);
}
.hero--section--content--boxabout--section--box{
  width: 800px;
}
/* About Us Style Ends*/

/* Footer Style Begins */
.footer--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 85.333px;
  background: var(--headfoot);
}

.footer--link--container {
  margin-bottom: 20px; /* Definite space between content */
}

.footer--social--icon > ul {
  padding-left: 0px;
  list-style: none;
  display: flex;
  gap: 5px;
}

.footer--social--icon > ul > li {
  width: 65px; /* Set fixed width for each li */
  height: 65px; /* Set fixed height for each li */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--social--icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  font-size: 25px; /* Adjust font size */
  color: var(--black); /* Change icon color */
  transition: 0.5s ease;
  border-radius: 50%; /* Make each li circular */
}

.footer--social--icon a:hover {
  font-size: 20px; /* Decrease font size on hover */
  color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 0 40px var(--primary);
}

.footer-rocket-image {
  position: relative;
  height: 90px;
  display: flex; /* Use flexbox to center align content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}

.rocket-image {
  height: 80px;
  /* Remove height property to allow the image to maintain its aspect ratio */
  object-fit: contain;
  cursor: pointer;
  animation: float 3s ease-in-out infinite alternate;

}

@keyframes float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.rocket-image-description {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: var(--black);
  white-space: nowrap;
}

.footer-rocket-image:hover .rocket-image-description {
  opacity: 1;
}

.footer--content--container {
  margin-top: 40px; /* Definite space between content */
}

.footer--content {
  color: var(--black);
  font-size: 18.667px;
  font-weight: 400;
  line-height: 28px;
}

/* Footer Style Ends */


/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  right: 30px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: var(--black);
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}
/* Hero Section Style End */


/* MyResume Section */
.ResumeSection{
max-height: 700px;
/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../public/img/herosectionWallpaper.jpg'); */
/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  background-attachment: fixed; */
background: url('../public/img/Resumebackground.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
/* background-color: #000; */
}
.ResumeSectionContent{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  padding: 102px 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;

}
.ResumeSectionContent span{
  color: var(--white);
  font-size: var(--48);
}
a.resume-btn{
  width: 105px;
  background: none;
  display: inline-block;
  padding: 12px 20px;
  color: #ddd;
  border: 3px solid #ccc;
  font-size: var(--16);
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
a.resume-btn:hover,
a.resume-btn:active {
    /*background-position: -100% 100%;*/
    color: #fff;
    /*font-weight: 400;*/
    border: 3px solid #ccc;
    background-color: rgba(254, 254, 254, 0.2);
    padding: 12px 35px;
    cursor: pointer;
}

/* MyResume Section Ends */

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero--section--content--boxabout--section--box{
    width: auto;
  }

}

@media only screen and (max-width: 1600px) {
  .hero--section{
    height:700px;
  }
  .hero--section--content{
    font-size: var(--48);
    line-height: 70px;
  }
  .hero--section--name{
    max-width: 260px;
  }
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: var(--16);
    line-height: 27px;
  }
  .technology-images{
    margin:60px 100px 0;
  }
}

@media only screen and (max-width: 1200px) {
  h1{
    font-size: 48px;
  }
  .navbar{
    padding:5px 20px;
  }
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding: 3rem 0 0.6rem; */
    padding: 0 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 8px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
  .btn-outline-primary {
    display: none;
  }
  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .skills--section--container,
  .experience--section,
  .portfolio--section--container,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .skills--section,.portfolio--section{
    padding:80px 48px;
    gap:40px;
  }

  .contact--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section {
    padding: 80px 48px;
    gap: 20px;
  }
  .about--section--img{
    height:400px;
    margin: auto;
  }
  .hero--section-description{
    text-align: left;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  .hero--section--content,
  .skills--section--heading,
  .sections--heading {
    font-size: 48px;
    line-height: 60px;
     width: 465px;
  }
  .skills--section--layer2 {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between;
    gap: 50px;
  }
  
  .skills--section--card {
    width: calc(50% - 25px); /* Set width to 50% of container width minus gap */
    min-height: 350px;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .experience--container{
    padding:80px 48px;
  }
  .technology-images{
    margin: 60px 0px;
  }
  .portfolio--container-box{
    gap:20px;
  }
}
@media only screen and (max-width: 700px){
  .technology-images{
    grid-template-columns: repeat(3,minmax(100px,1fr));
  }
}
@media only screen and (max-width: 500px){
  .skills--section--layer2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .skills--section--card {
    width: auto; /* Set width to 50% of container width minus gap */
    min-height: auto;
  }
  .navbar{
    padding:7px 12px 0px 12px;
  }
  .hero--section{
    height:770px;
  }
  .hero--section--content{
    width:420px ;
    font-size: 40px;
    line-height: 60px;
  }
  .hero--section--name{
    max-width: 240px;
  }
  .hero--section--title{
    max-width: 70px;
  }
  .about--section{
    display: flex;
    flex-direction: column;
  }
  .about--section--content{
    text-align: center;
  }
  .hero--section-description{
    text-align: justify;
    line-height: 25px; 
  }
  .ResumeSectionContent{
    padding:80px
  }
  .experience--container{
    padding: 80px 40px;
  }
  .technology-images{
    gap:15px;
  }
  .experience--individual--image{
    height: 70px;
  }
  .experience--individual--image img {
    width: 100%;
  }
  .footer--container{
    padding: 0 30px 10px 30px;
    gap:10px;
  }
  .footer--social--icon > ul{
    margin-top:10px;
    margin-bottom: 0px;
  }
}
